<p style="padding-top: 20px;">MyHttpObservableComponent works!</p>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
  <a href="https://blog.angular-university.io/rxjs-error-handling/">Comprehensive Error Handling.</a>
</div>

<label for="id">Request Id: </label>
<input type="text" name="id" id="id" [(ngModel)]="requestId" >
<hr>
<button (click)="getUser()">User</button>
<button (click)="getUsers()">Users</button>
<button (click)="get404Error()">404 Error</button>
<button (click)="getDelayedUsers()">Delayed Users</button>
<hr>
<button (click)="postUser()">Post User</button>
<button (click)="putUser()">Put User</button>
<button (click)="patchUser()">Patch User</button>
<button (click)="deleteUser()">Delete User</button>
<hr>
<button (click)="getPost()">Get Post</button> |
<button (click)="getPost()">Get Post</button> |
<button (click)="getPostFullResponse()">Get Post Full Response</button>
<hr>
<button (click)="clear()">Clear All</button>
<hr>

<button (click)="getSession()">Get Session</button> |

<div *ngIf="rawResponse != null">
  Raw Response (next):
<pre>
{{rawResponse | json}}
</pre>
  </div>
<hr>

<div class="card">
  <div class="card-body">
    <div class="card-title">User</div>
    <div *ngIf="user">
      <div class="card-text">
        User #{{user.id}}: {{user.first_name}} {{user.last_name}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Users</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of users">
      #{{item.id}} {{item.first_name}} {{item.last_name}}
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-title">Post</div>
    <div *ngIf="post">
      Post #{{post.id}}:
      {{post.title}}
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Posts</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of posts">
      #{{item.id}} - {{item.title}}
    </li>
  </ul>
</div>



